	<section class="main-new">
		<h2 class="section-name">Главная новость</h2>
		<a class="important-news" href="#" target="_blank">Верховная Рада назначила Климкина министром иностранных дел. Дещицу провожали кричалкой о Путине.
		</a>
		<div class="news-info">
			<span class="news-info__date">26.06.14 - 7:48</span>
			<span class="news-info__views" title="просмотров">991</span>
			<span class="news-info__comments" ><a href="#" target="_blank" title="комментариев">2</a></span>
		</div>
	</section>