{% set 
list = [
	{
		date: '26.06.14 - 7:24',
		content: 'Председатель парламента Александр Турчинов
				обратился к людям, заблокировавшим улицу
				Грушевского, прямо из зала.',
		mark:false

	},
	{
		date: '21.06.14 - 8:03',
		content: 'Фракцию Коммунистической партии
							Украины покинули сразу два депутата.',
		mark:true					
	},
	{
		date: '23.06.14 - 23:18',
		content: 'В ходе антитеррористической операции на
							Луганщине ликвидировано укрепление
							боевиков и взят мост через Северский...',
		mark:true,
		photo: true				
	},
	{
		date: '27.06.14 - 8:34',
		content: 'Блокпост АТО №1 штурмовали 8 российских
							танков. Погибли 4 военнослужащих.',
		mark:true					
	},
	{
		date: '23.06.14 - 7:45',
		content: 'Украинский комментатор в прямом эфире спел
							известный хит про Путина.',
		mark:false					
	},
	{
		date: '24.06.14 - 23:30',
		content: 'Блокпост АТО №1 штурмовали 8 российских
							танков. Погибли 4 военнослужащих.',
		mark:false					
	},
	{
		date: '27.06.14 - 8:34',
		content: 'Международные дипломаты дружно поддержали
							идею Путина.',
		mark:true					
	},
	{
		date: '25.06.14 - 7:09',
		content: 'Сепаратисты ДНР берут под контроль
							банковскую систему Донецкой области.',
		mark:false					
	},
	{
		date: '25.06.14 - 8:40',
		content: 'Украинские военные отказались от более
							надежных бронежилетов ради подвижности.
							Эксперты считают это ошибкой.',
		mark:true					
	},
	{
		date: '26.06.14 - 23:49',
		content: 'Два блокпоста АТО возле Славянска
							боевики атаковали с применением «Града»
							и танков. Есть раненые /обновлено/.',
		mark:false					
	},
	{
		date: '24.06.14 - 00:20',
		content: 'Во Львове видного налоговика подвели его
							«волосатые руки».',
		mark:false					
	}
] 
%}