{% set 
list= [
	{
		date: '26.06.14 - 7:24',
		category: 'тенденции',
		article_name: 'Рада, пора на выход!',
		author: 'Максим Михайленко',
		brief: 'Седьмой парламентский созыв публично
						агонизирует. Хотя в Верховной Раде
						зарегистрирован законопроект о самороспуске,
						это вовсе не означает, что парламентарии спешат
						на досрочные выборы.',
		image:	'img/rada.png',
		alt: 'Rada'		
	},
	{
		date: '19.06.14 - 8:41',
		category: 'размышления',
		article_name: 'Сосед-агреcсор',
		author: 'Дарина Сож',
		brief: 'В наш век развитых технологий простое
						человеческое общение вместо привычных живых
						встреч, и уж тем более бумажных писем, все
						более сводится к мобильной связи и социальным
						сетям. Легко и удобно. Если бы не одно НО.',
		image:	'img/mordor.png',
		alt:	'Rada'
	}
] 
%}